.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.form {
  position: relative;
  display: flex;
}

.form--window {
  background-color: #eaeaea;
  display: block;
  overflow: auto;
  scroll-behavior: smooth;
  outline: 2px dashed green;
  flex: 1;
  height: 360px;
}

.form--message {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: aqua;
  text-align: left;
  outline: 2px dashed blue;
  flex-grow: 1;
}

.form--interface {
  background-color: mediumaquamarine;
}

.form--input {
  position: fixed;
  width: 50%;
  bottom: 10px;
  border: 3px solid #8ac007;
}

.form__buttonInput {
  width: 10%;
  border: 3px dashed blue;
}

.form__textInput {
  width: 90%;
  border: 3px dashed red;
  resize: none;
}
